@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #eee !important;
}

.main{
    background-image: url("https://images.pexels.com/photos/6995252/pexels-photo-6995252.jpeg?auto=compress&cs=tinysrgb&w=1500");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.cart_part{
    background-image: url("https://images.pexels.com/photos/6214364/pexels-photo-6214364.jpeg?auto=compress&cs=tinysrgb&w=1500");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 5px;
  }